<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iyubaDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BBF5278F20463A8D00F7CDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBF527A720463A8D00F7CDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BBF527B220463A8D00F7CDDC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
